<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.bestreadsbookshelfURL = "<%= image_url('bestreadsbookshelf.jpg') %>";
  window.bestreadssloganURL = "<%= image_url('bestreadsslogan.png') %>";
  window.bestreadstanbgURL ="<%= image_url('bestreadstanbg.jpg') %>"
  window.bestreadsparchbgURL ="<%= image_url('bestreadsparchment.png') %>"
</script>

<main id='root'></main>